GOOGLETRENDS_DB_PATH=/app/data/googletrends.sqlite3
FEISHU_WEBHOOK_URL=
GOOGLETRENDS_REQUEST_DELAY_SECONDS=2
GOOGLETRENDS_REQUEST_PROFILES_ENABLED=1
GOOGLETRENDS_RETRY_DELAY_SECONDS=5
GOOGLETRENDS_MAX_ATTEMPTS=5
GOOGLETRENDS_PUBLIC_BASE_URL=http://127.0.0.1:8000
GOOGLETRENDS_P1_ALERT_COOLDOWN_HOURS=6
GOOGLETRENDS_P2_ALERT_COOLDOWN_HOURS=24
GOOGLETRENDS_PROXY_URLS=http://host.docker.internal:7897
GOOGLETRENDS_PROXY_SUBSCRIPTION_URL=
GOOGLETRENDS_PROXY_REFRESH_SECONDS=3600
GOOGLETRENDS_PROXY_AUTO_DETECT_LOCAL_CLASH=0
GOOGLETRENDS_CLASH_ENABLED=1
GOOGLETRENDS_CLASH_PROXY_URL=http://host.docker.internal:7897
GOOGLETRENDS_CLASH_CONTROLLER_URL=http://host.docker.internal:9097
GOOGLETRENDS_CLASH_SECRET=
GOOGLETRENDS_CLASH_PROXY_GROUP=Proxies
GOOGLETRENDS_CLASH_CONFIG_PATH=~/.config/clash/config.yaml
GOOGLETRENDS_CLASH_SKIP_PROXY_NAMES=DIRECT,REJECT,REJECT-DROP,PASS
GOOGLETRENDS_CLASH_ALLOWED_PROXY_NAME_KEYWORDS=香港,日本,美国,新加坡,狮城,台湾
GOOGLETRENDS_CLASH_ROTATE_ON_429=1
GOOGLETRENDS_CLASH_ROTATE_ON_ERROR=1
GOOGLETRENDS_CLASH_RETRY_AFTER_ROTATE=1
